MONGODB_URI=mongodb+srv://<usuario>:<senha>@cluster...
API_KEY_SECRET=chave_super_secreta_32_bytes
PORT=3000
JWT_SECRET=um_segredo_bem_longo_e_aleatorio
MFA_ISSUER_NAME=SGB_FATEC
NODE_ENV=development
MULTA_DIARIA=2.00
MULTA_MAXIMA=50.00
PRAZO_ALUNO=7
PRAZO_PROFESSOR=14
LIMITE_ALUNO=3
LIMITE_PROFESSOR=5