# Configuração do Banco de Dados
PORT=3000
MONGODB_URI=YOUR_MONGODB_ATLAS_URI

# Configuração da API
API_KEY_SECRET=chave_super_secreta_32_bytes

# Configurações de Multa
MULTA_DIARIA=2.00
MULTA_MAXIMA=50.00

# Prazo de Empréstimo (dias)
PRAZO_ALUNO=7
PRAZO_PROFESSOR=14

# Limite de Empréstimos Simultâneos
LIMITE_ALUNO=3
LIMITE_PROFESSOR=5
